{% extends "layout.jinja2" %}

{% from '_macros.jinja2' import waiting_form%}

{% block content %}
<div class="container  text-center">
    <div class="row  align-items-center  my-5 gy-4">
        <div class="col-md-6 text-start order-md-1 order-2"
             data-animate="animate__fadeInLeft">
            <h1 class="main-heading">Swipora</h1>
            <h2 class="main-subheading">Aprende inglés de forma inteligente</h2>
            <p>Memoriza sin esfuerzo con flashcards impulsadas por un algoritmo que se adapta a tu ritmo.
                Estudia menos, aprende más.</p>

            {{ waiting_form('hero') }}

            {# <div class="row">
                <div class="col-6">
                    <a href="#"
                       class="btn btn-primary d-block mb-3"
                       rel="noopener"><i class="bi bi-apple"></i> App
                        Store</a>
                </div>
                <div class="col-6">
                    <a href="#"
                       class="btn btn-primary d-block mb-3"
                       rel="noopener"><i class="bi bi-google-play"></i>
                        Google Play</a>
                </div>
            </div> #}
        </div>
        <div class="col-md-6 order-md-2 order-1"
             data-animate="animate__fadeInRight">
            <img class="rounded-2"
                 src="{{ url_for('static', filename='img/app.png') }}"
                 alt=""
                 width="80%">
        </div>
    </div>
</div>
<div class="bg-primary my-3 py-5"
     id="caracteristicas">

    <div class="container mb-5">

        <h1 class="text-center">Diseña para ti</h1>
        <h2 class="text-center">Una app que aprende cómo tú aprendes</h2>
        <div class="row mt-4 g-4 align-items-stretch">
            <div class="col-md-6"
                 data-animate="animate__fadeInLeft">
                <div class="bg-white p-5 rounded-5 shadow">
                    <div class="">
                        <h2 class="">Diferentes mazos</h2>
                        <p class="">Accede a mazos diseñados para cada nivel, desde principiante hasta avanzado.
                            Siempre tendrás el contenido adecuado para seguir avanzando.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6"
                 data-animate="animate__fadeInRight">
                <div class="bg-con p-5 rounded-5 h-100 shadow">
                    <div class="">
                        <h2 class="">Mejora tu pronunciación</h2>
                        <p class="">Escucha palabras y frases con audio integrado para entrenar tu oído
                            y hablar con mayor confianza desde el primer día.</p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="bg-dark p-5 rounded-5 shadow mb-5"
                     data-animate="animate__fadeInUp">
                    <div class="row g-4 align-items-center ">
                        <div class="col-md-6">
                            <h2 class="">Repetición espaciada</h2>
                            <p class=""> Nuestro algoritmo te muestra cada palabra justo cuando estás a punto de
                                olvidarla,
                                optimizando tu memoria y acelerando tu aprendizaje.</p>
                            <ul class="list-unstyled mt-4">
                                <li class="mb-2">️<i class="bi bi-check-circle"></i> Recuerda palabras por más tiempo
                                </li>
                                <li class="mb-2"><i class="bi bi-check-circle"></i> Reduce el tiempo de estudio</li>
                                <li class="mb-2"><i class="bi bi-check-circle"></i> Aprende de forma automática</li>
                            </ul>
                        </div>

                        <div class="col-md-6 ">
                            <img class="img-fluid rounded-5 shadow"
                                 src="{{ url_for('static', filename='img/graph.png') }}"
                                 alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" my-5 p-5"
     id="unete">
    <div class="container ">
        <div class="">
            <div class="bg-con p-5 rounded-5  shadow"
                 data-animate="animate__fadeIn">
                <div class="">
                    <h1 class=" mb-3">¿Listo para llevar tu inglés al siguiente nivel?</h1>
                    <h3 class="mb-3">Únete a la lista de espera y sé de los primeros en probar Swipora.</h3>
                    {{ waiting_form('join') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>


{% endblock scripts %}