{% macro waiting_form() %}
<form class="row g-3">
    <div class="col-8">
        <label for="email"
               class="visually-hidden">Correo electrónico</label>
        <input type="email"
               class="form-control"
               name="email"
               required
               id="email"
               placeholder="Correo electrónico">
    </div>
    <div class="col-4">
        <button type="submit"
                class="btn btn-primary mb-3">Únete</button>
    </div>
</form>
{% endmacro %}